package table

import "strconv"

type BoolColumnProps struct {
	TrueValue  string
	FalseValue string
}

templ BoolColumn(value bool, values []string) {
	<td
 		data-value={ strconv.FormatBool(value) }
 		class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
		>
		if value { 
			{ values[0] } 
		} else { 
			{ values[1] } 
		}
	</td>
}