package table

import "time"

const format = "2006-01-02 15:04:05"

templ DateColumn(value time.Time) {
	<td
 		data-value={ value.Local().Format(format) }
 		class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
		>
		{ value.Local().Format(format) }
	</td>
}